<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<header class="header" th:fragment="header">
    <nav class="navbar">
        <span th:if="${principal == ''}">
            <a href="/" class="navbar-text white-text">Home</a>
            <a href="/login" class="navbar-text white-text">Log In</a>
            <a href="/signup" class="navbar-text white-text">Sign up</a>
        </span>
        <span th:unless="${principal == ''}">
            <a href="/" class="navbar-text white-text">Home</a>
            <a href="/myprofile" class="navbar-text white-text">My Profile</a>
            <a href="/users/all" class="navbar-text white-text">All Users</a>
            <a href="/feed" class="navbar-text white-text">My Feed</a>
        </span>
        <span th:if="${principal == ''}"></span>
        <span th:unless="${principal == ''}">
        <span class="navbar-text white-text">[[${principal}]]</span>
            <a href="/logout" class="navbar-text white-text">Log out</a>
    </span>
    </nav>
</header>
</html>
