<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<header class="header" th:fragment="header">
    <span th:if="${principal == ''}">
         <h1>Welcome </h1>
    </span>
    <span th:unless="${principal == ''}">
        <h1>Welcome [[${principal}]]</h1>
    </span>
    <nav>
        <span><a href="/">Home</a></span>
        <span th:if="${principal == ''}">
            <a href="/login">Log In</a>
            <span><a href="/signup">Sign up</a></span>
        </span>
        <span th:unless="${principal == ''}">
            <a href="/myprofile">My Profile</a>
            <a href="/logout">Log out</a>
        </span>
    </nav>
</header>
</html>
