<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up!</title>
</head>
<body>
<h1>Sign up</h1>
<form action="/signup" method="POST">
    <p>Username: <input name="username" /></p>
    <p>Password: <input type="password"name="password" /></p>
    <p>First name: <input name="firstname" /></p>
    <p>Last name: <input name="lastname" /></p>
    <p>Date of Birth: <input type="date" name="dateOfBirth" /></p>
    <p>Bio: <textarea name="bio" ></textarea></p>
    <input type="submit" />
</form>

</body>
</html>