<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="/reset.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<br>
<img src="https://media.giphy.com/media/jaQuaJ8clDC1i/giphy.gif" alt="profile-pic" width="250" height="250">
<br>
<p th:text="${user.firstname}"></p>
<form method="POST" th:action="'/users/' + ${user.id} + '/follow'" >
    <button type="submit">Follow</button>
</form>
<br>
<span>Birthday: </span>
<p th:text="${user.dateOfBirth}"></p>
<br>
<span>Bio: </span>

<p th:text="${user.bio}"></p>
<br>
<section>
    <h3>Followers: </h3>
    <div th:replace="fragments/follow :: followList(users=${user.followers})"></div>

    <h3>Following: </h3>
    <div th:replace="fragments/follow :: followList(users=${user.following})"></div>
</section>

<h3>Posts: </h3>
<div th:replace="fragments/post :: postList(posts=${posts})"></div>

<span th:if="${principal == user.username}"></span>
<span th:unless="${principal != user.username}">
       <a href="/posts/add">Create a Post</a>
</span>

<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>