<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
</head>
<body>
<a href="/logout">Logout</a>
<h1>Welcome, <span th:text="${user.username}"></span> </h1>
<span>First Name: </span>
<p th:text="${user.firstname}"></p>
<br>
<br>
<span>Birthday: </span>
<p th:text="${user.dateOfBirth}"></p>
<br>
<span>Bio: </span>

<p th:text="${user.bio}"></p>
<br>

<h3>Your posts: </h3>
<ul>
    <li th:each="post : ${posts}">
    <span>Body: </span>
    <span th:text="${post.body}"></span>
    <br>
    <span>Created at: </span>
    <span th:text="${post.createdAt}"></span>
    <br>
    </li>
</ul>

<a href="/posts/add">Create a Post</a>

</body>
</html>